# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyd
*.pyo
*.egg-info/
.eggs/

# Environments
.env
.venv/
venv/
env/
ENV/

# Distribution / packaging
dist/
build/
wheels/
*.whl

# Generators
*.cover
.coverage
.mypy_cache/
.pytest_cache/
.tox/
.ruff_cache/

# Editors and IDEs
.vscode/        # VS Code
.idea/          # PyCharm/IntelliJ
*.sublime-workspace # Sublime Text

# OS-specific files
.DS_Store       # macOS
Thumbs.db       # Windows
